<!DOCTYPE html>
<html>
<head>
    <title>Course Data</title>
</head>
<body>
    <h1>Course Details</h1>
    <table border="2" id="course-details-table">
        <tr>
            <th>Average Marks</th>
            <th>Maximum Marks</th>
        </tr>
        <tr>
            <td>{{ average_marks }}</td>
            <td>{{ maximum_marks }}</td>
        </tr>
    </table>

    <img src="{{ image_path }}" alt="Histogram of marks">

    <br>
    <a href="/">Go Back</a>
</body>
</html>
